@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --red: #d6000d;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}

button {
  font-size: 1em;
  font-weight: bold;
  background-color: var(--red);
  color: #fff;

}

button, input {
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
}

div#text1 button {
  padding: 20px 40px;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

h2 {
  color: var(--red);
  font-style: italic;

  font-size: 2.8em;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}


h1 
span {
  color: black;
  font-size: 0.32em;
}

h1 {
  color: var(--red);
  font-size: 3em;
  margin-bottom: 40px;
}

section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}


section#services {
  margin-top: 150px;
}


section#services > ul {
  list-style-type: '\2714\0020\0020';
  list-style-position: inside;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  margin-top: 60px;
  text-align: center;
}

form input, button {
  padding: 15px 30px;
}

form input {
  background-color: #dfdfdf;
  font-weight: bold;
  margin-right: 10px;
}

form h3 {
  margin-bottom: 20px;
}

section#story {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}

div.perfil {
  padding: 15px 20px;
  background-color: #dfdfdf;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

div.img{
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

section#story p {
  font-size: 0.8em;
  max-width: 300px;
  text-align: justify;
  word-spacing: 1px;
  margin-bottom: 10px;
}

div.about > span {
  font-weight: bolder;
} 

div.about > span + span {
  font-size: 0.6em;
  display: block;
}

footer {
  height: 280px;
  margin-top: 60px;
  background-color: black;
  color: white;
  padding-left: 20px;
}

footer nav {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

footer nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 200px;
  padding: 0 5px;
}

footer nav ul:last-child {
  display: block;

}

footer nav ul:last-child li {
  float: left;
  margin-right: 20px;
}

footer nav ul:last-child h3 {
  margin-bottom: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer ion-icon {
  color: red;
  font-size: 30px;
}


@media screen and (max-width: 680px){
  header, section, footer > nav  {
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 20px;
  }

  header button {
    display: none;
  }

  section {
    text-align: center;
  }

  form button, form input {
    width: 70%;
    margin-left: 0;
    margin-top: 20px;

  }

  div.about, section ul {
    text-align: start;
  }

  section ul {
    order: 2;
  }

  footer {
    height: 450px;
  }

  footer ul:first-child{
    align-self: center;
  }
  
  footer ul:first-child h3{ 
    align-self: center;
  }

  footer ul {
    gap: 5px;
    margin-bottom: 15px;
  }
}