@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --font: 'Roboto', sans-serif;
  --red: #d6000d;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}

button {
  font-size: 1em;
  font-weight: bold;
  background-color: var(--red);
  color: #fff;

}

button, input {
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
}

div#text1 button {
  padding: 20px 40px;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

h2 {
  color: var(--red);
  font-style: italic;
  font-size: 2em;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
}
h1 
span {
  color: black;
  font-size: 0.4em;
}

h1 {
  color: var(--red);
  font-size: 3em;
  margin-bottom: 40px;
}

section {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15vw;
}

section#services > ul {
  list-style-type: '\2714\0020\0020';
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form {
  margin-top: 60px;
  text-align: center;
}

form input, button {
  padding: 15px 30px;
}

form input {
  background-color: #dfdfdf;
  font-weight: bold;
  margin-right: 10px;
}

form h3 {
  margin-bottom: 20px;
}

section#story {
  display: flex;
  gap: 40px;
}

div.perfil {
  padding: 15px 20px;
  background-color: #dfdfdf;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

div.img{
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

section#story p {
  font-size: 0.8em;
  max-width: 300px;
  text-align: justify;
  word-spacing: 1px;
  margin-bottom: 10px;
}

div.about > span {
  font-weight: bolder;
} 

div.about > span + span {
  font-size: 0.6em;
  display: block;
}

