@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --red: #D6000D;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: inherit;
    padding-right: 15px;
    font-size: 1.2em;
}

button {
    font-size: 0.8em;
    font-weight: bold;
    background-color: var(--red);
    color: #fff;
    border: none;
    padding: 8px 40px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.8);
}

h1 {
    color: var(--red);
    font-style: italic;
}

.black {
    color: black;
}

h2 {
    color: var(--red);
    font-size: 2em;
}