@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --orange: #d2872c;
    --gray: #766f68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gray);
    font-family: var(--font);
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.747);
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 8px;
}

a:hover {
    color: #fff;
    background-color: var(--orange);
    border-radius: 5px;
}

main {
    width: 90vw;
    margin: auto;
    background: white url('assets/team.jpg') no-repeat right center;
    background-size: 60%;
    min-height: 65vh;
}

h1,
p {
    max-width: 340px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.4em;
    margin-block: 20px;
}

h2 {
    color: var(--orange);
    font-size: 1.6em;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--orange);
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 80px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    display: none !important;
}
.material-symbols-outlined:hover {
    cursor: pointer;
}

@media screen and (max-width: 708px) {
    main {
        background-position: top center;
        padding-top: 200px;
        text-align: center;
        background-size: 320px;
    }
    h1,
    p {
        display: block;
        margin: auto;
    }
    h1 {
        font-size: 2em;

    }

    p {
        margin: 20px auto;
        font-size: 1em;
        width: 250px;
    }
}

@media screen and (max-width: 560px) {
    nav > ul {
        display: none;
    }
    .material-symbols-outlined {
        display: block !important;
    }
}
