@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --orange: #d2872c;
    --gray: #766f68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gray);
    font-family: var(--font);
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.747);
    margin-left: 20px;
}

a {
    text-decoration: none;
    padding: 8px;
}

a:hover {
    color: #fff;
    background-color: var(--orange);

    border-radius: 5px;
}

main {
    width: 90vw;
    margin: auto;
}

h1, p {
    width: 340px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.4em;
    margin-block: 20px;
}

h2 {
    color: var(--orange);
    font-size: 1.6em;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background-color: var(--orange);
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 80px;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}